
    body { 
      background-color: black;
 
    }
    .center { 
      margin-left: auto;
      margin-right: auto;
    }
    img {
      width:15%;
    }
     h1 {
       font-family: Arial;
       color: rgb(155, 20, 205);
      text-align:center;
     }
    p {
      text-align:center; 
      font-family: Comic Sans MS;
      color: rgb(20, 255, 105);
      border: 5px white;
      padding: 3px;
    }
    a:link {
      color: rgb(245, 250, 15);
      font-family: fondamento;
    }
    a:visited {
      color: rgb(245, 250, 15);
      text-decoration: underlined;
      font-family: fondamento;
    }
    a:hover {
      color: rgb(255, 50, 10);
      background-color: rgb(255, 50, 10, 0.5);
      text-decoration: underlined;
      font-family: fondamento;
    }
    a:active {
       color: rgb(155, 20, 205);
      background-color: rgb(155, 20, 205, 0.5);
      text-decoration: underlined;
      font-family: fondamento;
    }
    /* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(0, 0, 0);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: rgb(0, 0, 235);
  text-align: center;
  padding: 14px 16px;
  text-decoration: underlined;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: rgb(0, 0, 235);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: green;
}
